<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODOLIST APP</title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel='stylesheet' id='fontawesome-css' href='https://use.fontawesome.com/releases/v5.0.1/css/all.css?ver=4.9.1' type='text/css' media='all' />
    <link type="text/css" rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="container">
        <nav class="header">
            <div class="left">
                <img src="images/list.png" alt="brand-logo">
                <a href="/"><h1>TODOLIST</h1></a>
            </div>
            <div class="right">
                <div class="si">
                    <a href="/signin"><i class="fa fa-user clr"></i>Sign In</a>
                </div>
                <div class="su">
                    <a href="/signup"></i>Sign Up</a>
                </div>
            </div>
        </nav>