<%- include('partials/header') -%>
        <main class="content">
            <h1>Welcome to the TODOLIST</h1>
            <p class="jonk">which helps you to do your list</p>
            <p class="down">I know that I visibly make no sense. But let's not get there. I just wanna fill this page up.</p>
            <p class="down2">So can you please stop reading this and go signin or signup</p>
            <h1>IF YOU HAVE ALREADY SIGNED IN FROM THIS DEVICE PLEASE CLICK <a class="here" href="/me">HERE</a></h1>
            <p style="text-align: center;">(doesn't work if you signed out)</p>
            <div class="last">
                <p class="down-left">Thanking You</p>
            <p class="down2-left">Yours faithfully</p>
            <p>bLanK</p>
            </div>
        </main>    
<%- include('partials/footer') -%>